.main {
	.twoCols {
		@apply flex flex-col gap-4;
	}

	.oneCol {
		@apply hidden flex-col gap-6;

		.elem {
			@apply flex flex-col gap-2;

			.description {
				@apply text-justify;
			}

			.video {
				@apply self-center;
				width: 500px;
			}
		}
	}

	.titles,
	.descriptions,
	.videos {
		@apply flex w-full gap-14;

		> * {
			@apply w-1/2;
		}
	}

	.titleWrapper {
		@apply flex gap-2 items-center;

		.title {
			h3 {
				@apply font-bold text-3xl transition-colors duration-200;
			}
		}

		.icon {
			@apply text-main-700 text-3xl relative transition-colors duration-300;
			bottom: 6px;
		}

		&:hover,
		&:focus {
			.title {
				h3 {
					@apply text-secondary-800;
				}

				&::after {
					@apply bg-secondary-800;
				}
			}

			.icon {
				@apply text-main-500;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.main {
		.titles,
		.descriptions,
		.videos {
			@apply gap-5;
		}
	}
}

@media screen and (max-width: 800px) {
	.main {
		.twoCols {
			@apply hidden;
		}
		.oneCol {
			@apply flex;
		}
	}
}

@media screen and (max-width: 530px) {
	.main {
		.oneCol {
			@apply gap-10;

			.elem {
				.video {
					width: 400px;
				}
			}
		}
		.titleWrapper {
			.title {
				h3 {
					@apply text-2xl;
				}
			}
		}
	}
}
