.container {
	@apply relative text-xl min-w-96 flex flex-col;

	label {
		@apply relative left-2 px-1 text-dark w-fit;
		top: 10px;
	}

	.textarea {
		@apply py-2 px-3 border-secondary-700 rounded-md h-36;
		border-width: 2px;
		border-style: solid;

		&:focus {
			outline: none;
		}

		&::-webkit-scrollbar-thumb {
			@apply bg-gray-400;
		}
	}

	&.white {
		label,
		textarea {
			@apply bg-white;
		}
	}
	&.main {
		label,
		textarea {
			@apply bg-main-25;
		}
	}
}

@media screen and (max-width: 430px) {
	.container {
		@apply min-w-80;
	}
}
