.main {
	@apply flex justify-center relative pb-20;
}

@media screen and (max-width: 1360px) {
	.main {
		padding-bottom: 56px !important;
	}
}

@media screen and (max-width: 1000px) {
	.main {
		padding-bottom: 40px !important;
	}
}

@media screen and (max-width: 800px) {
	.main {
		padding-bottom: 24px !important;
	}
}

@media screen and (max-width: 600px) {
	.main {
		.reviews {
			@apply w-96;
		}
	}
}
