.cards {
	@apply flex mt-12 mx-auto flex-wrap relative gap-x-10 gap-y-20;
	max-width: 1145px;
}

.card {
	@apply w-64 relative;

	.imgWrapper {
		@apply relative h-80 w-full overflow-hidden;
	}

	.title {
		@apply text-2xl font-bold mt-3;
	}

	.position {
		@apply text-xl;
		margin-top: 2px;
	}

	.line {
		@apply w-16 bg-secondary-700 my-4;
		height: 3px;
	}

	.desc {
		@apply text-base font-medium;
	}

	.settings {
		top: -12px !important;
		right: 0 !important;
		left: auto !important;
	}
}

.addItem {
	top: auto !important;
	bottom: 0 !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
}
