.filters {
	@apply flex gap-4 justify-between items-end;

	.breedTypes {
		@apply flex gap-2 items-center;

		.filterButton {
			@apply px-4 py-2 rounded-lg transition-all duration-200 bg-white text-gray-800;

			&:hover,
			&:focus {
				@apply bg-gray-300;
			}

			&.active {
				@apply bg-secondary-700 text-white;
			}
		}
	}

	.right {
		@apply flex items-center gap-3;

		.addProcedure {
			@apply relative top-3 flex items-center gap-1 text-right;

			&::before {
				@apply text-base text-dark;
				content: 'Добавить процедуру';
			}
		}
	}
}

.list {
	@apply flex flex-col gap-6;

	&.dogs {
		@apply mt-6;
	}
}

.item {
	@apply flex flex-col gap-4 mt-1;

	.title {
		@apply text-2xl font-bold mt-2;
	}

	.line {
		@apply bg-gray-300 relative -left-4 -right-4;
		width: calc(100% + 32px);
		height: 1px;
	}
}

.breeds {
	@apply grid grid-cols-4 gap-4;

	.breed {
		@apply relative;

		a {
			@apply block w-full h-full;

			&:hover,
			&:focus {
				span {
					&::after {
						@apply hidden;
					}
				}
			}
		}

		span {
			@apply relative;

			&::after {
				@apply absolute -bottom-1 left-0 right-0 bg-gray-400;
				height: 2px;
				content: '';
			}
		}
	}
}

.identifier {
	position: relative;
	top: -60px;
}

.settings {
	top: 14px !important;
	left: -3rem !important;
}

@media screen and (max-width: 1360px) {
	.breeds {
		.breed {
			@apply w-fit;
		}
	}
	.settings {
		left: calc(100% + 2px) !important;
	}
}
@media screen and (max-width: 920px) {
	.filters {
		@apply flex flex-col-reverse items-start;

		.right {
			@apply flex-row-reverse;
		}
	}
	.breeds {
		@apply grid-cols-3;
	}
}
@media screen and (max-width: 760px) {
	.breeds {
		@apply grid-cols-2;
	}
}
@media screen and (max-width: 560px) {
	.breeds {
		@apply grid-cols-1;
	}

	.right {
		.addProcedure {
			&::before {
				content: '' !important;
			}
		}
	}
}
