.logo {
	div {
		@apply h-auto;
		transition: all 0.5s;
		height: 74px;
		aspect-ratio: 250/74;
		background-size: 100% 100%;
	}

	&.dark {
		div {
			background-image: url('/logos/logo-row-dark.png');
		}
	}

	&.light {
		div {
			background-image: url('/logos/logo-row-light.png');
		}
	}
}
