.main {
	// @apply;

	.list {
		@apply flex w-full gap-5 items-stretch;

		li {
			@apply relative w-14 bg-cyan-700 rounded-lg transition-all cursor-pointer;
			transition-duration: 1s;
			transition-timing-function: cubic-bezier(0.49, 0.04, 0.65, 0.97);
			height: 430px;

			// .item {
			// 	@apply flex absolute left-0 right-0 top-0 bottom-0 min-w-96;
			// }

			.video {
				@apply mt-12 w-0 opacity-0;
				height: calc(100% - 3rem);
				transition: inherit;
			}

			.title {
				@apply text-4xl text-white z-10 -rotate-90 absolute left-1/2 -translate-x-1/2 top-0 translate-y-20 text-nowrap;
				text-align: end;
				transition: inherit;
				transition-timing-function: linear;
			}

			&.active {
				@apply w-full px-5 pb-5 pt-3 cursor-auto;

				// .item {
				// 	@apply w-auto px-5 pb-5 pt-3 rotate-0 h-auto block static;
				// }

				.video {
					@apply w-full opacity-100;
				}

				.title {
					@apply rotate-0 translate-x-0 translate-y-2 left-5 top-0;
				}
			}
		}
	}
}
