.header {
	@apply fixed top-0 left-0 right-0 text-white;
	z-index: 10;

	&.isScrolled {
		.line {
			@apply pt-2 text-dark;
		}
		.burger {
			@apply pt-2;
		}

		.blurBlock {
			backdrop-filter: blur(24px);
			background-color: rgba(255, 255, 255, 0.8);
		}
	}

	.line {
		@apply pl-6 pr-8 py-5 flex items-center gap-10 relative;
		z-index: 12;
		transition: padding-top 0.5s;

		.rightSection {
			@apply flex items-center gap-3 flex-1 justify-end;
		}
	}

	.blurBlock {
		@apply absolute -top-5 bottom-0 left-0 right-0;
		z-index: 11;
		transition: backdrop-filter background-color;
		transition-duration: 0.5s;
		background-color: initial;

		backdrop-filter: initial;
		mask-image: linear-gradient(
			to top,
			hsla(210, 100%, 45.1%, 0) 0%,
			hsla(210, 100%, 45.1%, 0.058) 1.5%,
			hsla(210, 100%, 45.1%, 0.127) 3%,
			hsla(210, 100%, 45.1%, 0.204) 4.5%,
			hsla(210, 100%, 45.1%, 0.287) 6%,
			hsla(210, 100%, 45.1%, 0.375) 7.5%,
			hsla(210, 100%, 45.1%, 0.464) 9%,
			hsla(210, 100%, 45.1%, 0.554) 10.5%,
			hsla(210, 100%, 45.1%, 0.641) 12%,
			hsla(210, 100%, 45.1%, 0.723) 13.5%,
			hsla(210, 100%, 45.1%, 0.799) 15%,
			hsla(210, 100%, 45.1%, 0.865) 16.5%,
			hsla(210, 100%, 45.1%, 0.921) 18%,
			hsla(210, 100%, 45.1%, 0.963) 19.5%,
			hsla(210, 100%, 45.1%, 0.99) 21%,
			hsl(210, 100%, 45%) 100%
		);
	}

	&.dark {
		.burger {
			.burgerCheckbox {
				span {
					@apply bg-dark;
				}
			}
		}
	}
	&.light {
		.burger {
			.burgerCheckbox {
				span {
					@apply bg-white;
				}
			}
		}
	}

	.burger {
		@apply hidden py-5 pl-6 pr-8 justify-between items-center relative transition-all duration-300;
		z-index: 12;

		.burgerCheckbox {
			@apply cursor-pointer flex flex-col transition-all duration-300 -translate-y-1;
			gap: 5px;
			z-index: 13;

			span {
				@apply block w-7 h-1 relative rounded-sm transition-all duration-300;
			}
		}

		.burgerBg {
			@apply absolute top-0 left-0 h-screen w-screen bg-main-200 transition-opacity duration-300 opacity-0;

			&.right {
				@apply left-full;
			}

			.burgerPanel {
				@apply h-full w-full ml-auto flex flex-col gap-5 items-center justify-center bg-secondary-800 transition-all duration-300;
				max-width: 480px;
				transform: translateX(480px);
			}
		}

		.links {
			@apply flex gap-3 items-center;

			.langs {
				@apply flex gap-1 items-center text-xl;
			}
		}

		&.active {
			.burgerBg {
				opacity: 0.96;

				.burgerPanel {
					transform: translateX(0);
				}
			}

			.burgerCheckbox {
				span {
					@apply bg-white;

					&:nth-child(1) {
						width: 34px;
						transform: rotate(-45deg) translate3d(-5px, 7px, 0);
					}
					&:nth-child(2) {
						@apply opacity-0;
					}
					&:nth-child(3) {
						width: 34px;
						transform: rotate(45deg) translate3d(-5px, -7px, 0);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1360px) {
	.header {
		.line {
			@apply hidden;
		}

		.burger {
			@apply flex;
		}
	}
}
@media screen and (max-width: 600px) {
	.header {
		.logo div {
			@apply h-14;
		}
		.burger {
			@apply p-3 pr-5;
		}
	}
}
