.footer {
	@apply relative min-h-96 bg-secondary-800 py-10 text-white;

	.content {
		@apply flex;

		.left {
			@apply w-1/2;

			.logo div {
				width: 350px;
				height: 104px;
				background-size: 350px 104px;
			}

			address {
				@apply text-2xl;

				a {
					@apply transition-all;
					&:hover {
						@apply text-secondary-200;
					}
				}

				span {
					font-size: 25px;
				}

				.bottomLinks {
					@apply mt-8 flex flex-col items-start gap-1;
				}

				.socialNetworks {
					@apply flex gap-3 mt-1;
				}
			}
		}

		.right {
			@apply flex justify-center w-2/3;
			.map {
				width: 600px;
				height: 400px;
			}
		}
	}

	.bottom {
		@apply flex justify-center mt-5;
	}

	.auth {
		@apply absolute bottom-5 right-5 left-auto top-auto translate-y-0;
	}
}

@media screen and (max-width: 1000px) {
	.footer {
		.content {
			.left {
				.logo div {
					width: 250px;
					height: 70px;
					background-size: 250px 70px;
				}
				address {
					@apply text-xl;
				}
			}
			.right {
				.map {
					width: 400px;
					height: 300px;
				}
			}
		}
	}
}

@media screen and (max-width: 730px) {
	.footer {
		.content {
			@apply flex-col items-center gap-5;
			.left {
				@apply w-auto;
				.logo {
					@apply hidden;
				}
				address {
					.bottomLinks {
						@apply mt-2;
					}
				}
			}
			.right {
				@apply w-full;
				.map {
					width: 420px;
					height: 300px;
				}
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.footer {
		.content {
			.right {
				.map {
					width: 100%;
					height: 250px;
				}
			}
		}
	}
}
