@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--plyr-color-main: #0987a0;
}

.plyr {
	@apply rounded-md overflow-hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

address {
	font-style: normal;
}

.relative {
	position: relative;
}

@supports (-webkit-appearance: none) {
	* {
		&::-webkit-scrollbar-track {
			@apply bg-main-25 !important;
		}

		&::-webkit-scrollbar {
			width: 5px !important;
		}

		&::-webkit-scrollbar-thumb {
			@apply bg-secondary-800 rounded-lg !important;
		}
	}
}

@-moz-document url-prefix() {
	* {
		scrollbar-width: thin;
		scrollbar-color: rgb(8 111 131) rgb(246 242 236);
	}
}

body {
	&.disable-scroll {
		@apply overflow-hidden;
	}
}

* {
	@apply whitespace-pre-line;
}
