@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

address {
	font-style: normal;
}

.relative {
	position: relative;
}

* {
	&::-webkit-scrollbar-track {
		@apply bg-main-25;
	}

	&::-webkit-scrollbar {
		width: 15px;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-secondary-800 rounded-s-lg;
	}
}

body {
	&.disable-scroll {
		@apply overflow-hidden;
	}
}
